<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <!-- Servlet contactServiceServlet -->
  <servlet>
    <servlet-name>contactServiceServlet</servlet-name>
    <servlet-class>cbmarc.inventory.server.ContactServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>contactServiceServlet</servlet-name>
    <url-pattern>/gwt_inv/contactService</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet ParteServiceServlet -->
  <servlet>
    <servlet-name>parteServiceServlet</servlet-name>
    <servlet-class>cbmarc.inventory.server.ParteServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>parteServiceServlet</servlet-name>
    <url-pattern>/gwt_inv/parteService</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet DiarioServiceServlet -->
  <servlet>
    <servlet-name>diarioServiceServlet</servlet-name>
    <servlet-class>cbmarc.inventory.server.DiarioServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>diarioServiceServlet</servlet-name>
    <url-pattern>/gwt_inv/diarioService</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet deviceServiceServlet -->
  <servlet>
    <servlet-name>deviceServiceServlet</servlet-name>
    <servlet-class>cbmarc.inventory.server.DeviceServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>deviceServiceServlet</servlet-name>
    <url-pattern>/gwt_inv/deviceService</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet departamentoServiceServlet -->
  <servlet>
    <servlet-name>departamentoServiceServlet</servlet-name>
    <servlet-class>cbmarc.inventory.server.DepartamentoServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>departamentoServiceServlet</servlet-name>
    <url-pattern>/gwt_inv/departamentoService</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gwt_inv.html</welcome-file>
  </welcome-file-list>

</web-app>
